@use "vars" as *;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page,
.main-header {
    background-color: $main-color;
}

.main-header {
    height: 100vh;
    font-family: "Poppins", sans-serif;
    .header-container {
        height: 100vh;
    }
}

main {
    font-family: "Raleway", sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    color: $main-color;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background-color: $hover-color;
        bottom: 0;
        left: 0;
    }
}

section {
    min-height: 105vh;
    padding: 3rem 1.5rem;

    &:nth-child(even) {
        background-color: #fff;
    }

    &:nth-child(odd) {
        background-color: $even-section-background;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
    }
}

.profile-pic {
    border: 8px solid $gray-color;
}

.social-links a {
    @include flex-center;
    color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    aspect-ratio: 1;
    padding: 0.66rem;
    background-color: $gray-color;

    transition: background-color 300ms;

    &:hover {
        background-color: $hover-color;
    }
}

.nav-links {
    li {
        cursor: pointer;
        color: #a8a9b4;
        display: block;
        padding: 0.8rem 0;

        i {
            display: inline-flex;
            justify-content: center;
            width: 20px;
            padding-right: 0.75rem;
        }

        &:hover,
        &.active {
            color: white;

            i {
                text-shadow: 0 0 4px $hover-color;
                color: $hover-color;
            }
        }
    }
}

.navbar-toggle {
    background-color: $main-color;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
}

#jumbo {
    background-image: url("../images/jumbo.webp");
    background-position: center;
    background-size: cover;

    position: relative;

    &::after {
        content: "";
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        display: block;
        inset: 0;
    }

    header {
        position: relative;
        background-color: transparent;
        z-index: 2;
    }
}

#contact {
    .contact-icons i {
        @include flex-center();
        color: $hover-color;
        background-color: $light-blue;
        border-radius: 50%;
        width: 45px;
        aspect-ratio: 1;
        transition: background-color 500ms;

        &:hover {
            color: white;
            background-color: $hover-color;
        }
    }
}

.app-button {
    background-color: $hover-color;

    &:hover {
        opacity: 0.8;
    }
}
