@use "vars" as *;

body {
    font-family: "Raleway", sans-serif;
}

#resumee {
    text-align: justify;

    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    h4 {
        text-transform: uppercase;
        font-weight: bold;

        & + div {
            font-weight: bold;
            color: gray;
        }
    }

    .category {
        border-left: 3px solid $hover-color;
        padding-left: 1rem;
        padding-bottom: 2rem;

        .period {
            display: inline-block;
            font-weight: 900;
            margin-bottom: 1rem;
            padding: 0.33rem;
            color: $hover-color;
            background-color: $light-blue;
        }

        p {
            padding-left: 0.5rem;
            padding-bottom: 0.5rem;
        }
    }
}
